.header {

  button {
    margin: 0 16px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    background-color: black;
    color: white !important;
    padding: 0 256px;
  }

  .mat-mdc-button:not(:disabled),
  .mat-mdc-outlined-button:not(:disabled) {
    color: white !important;
    border-color: white;
  }
}
