<app-banner imgBanner="assets/imagens/banner-homepage.png" imgBannerAlt="Banner principal"></app-banner>
<app-container>
  <h2>Promoções</h2>
  <app-form-search></app-form-search>
  <div class="cards__details">
    <app-card-details></app-card-details>
    <app-card-details></app-card-details>
    <app-card-details></app-card-details>
    <app-card-details></app-card-details>
    <app-card-details></app-card-details>
    <app-card-details></app-card-details>
  </div>
  <h2>Depoimentos</h2>
  <app-card-depositions></app-card-depositions>
</app-container>
<app-footer imgFooter="assets/imagens/logo-com-tagline.png" imgFooterAlt="Footer principal"></app-footer>
